* {
    margin: 0;
    padding: 0;
}

div {
    background: #fff;
}

p, span {
    line-height: 1.4;
    font-size: 14px;
}

a {
    text-decoration: none;
    color: #409EFF;
}
li {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

html,body {
    min-height: 100vh;
    background: #fff;
    color: #606266;
    font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif;
}

.fontTitle {
    color: #303133;
}
.fontGray {
    color: #909399;
}

.w1250 {
    width: 1250px;
    margin: 0 auto;
}